[Desktop Entry]
Name=Firefox Web Browser
Exec=/usr/bin/firefox %u
Icon=firefox
Type=Application
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;
Categories=Network;WebBrowser;
